@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Rowdies:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(22, 39, 53);
    color: white;
}

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color:rgb(189, 214, 235);
    font-size: 24px;
}

.third-div {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 180px;
    height: 50px;
    border-radius: 5%;
    font-size: bold;
    font-weight: 700;
    color: white;
    background-color: rgb(22, 39, 53);
}


button:hover {
    opacity: 0.7;
    transition: 0.3s;
}