input {
    width: 300px;
    height: 40px;
    font-size: 24px;
    margin: 0px 20px;
}

button {
    width: 150px;
    height: 40px;
}

hr {
    margin: 30px 0px;
    color: grey;
    height: 3px;
}

.inputArea {
    margin-top: 100px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox, .goBackBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goBackBox {
    margin: 30px 0px;
}